.column {
  color: aliceblue;
  font-weight: bold;
  background-color: #4c7281;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  padding-bottom: 5px;
  border: transparent 5px solid;
}

.overColumn {
  background-color: #8ba2ac;
  border-color: rgb(255, 255, 255);
}

.topCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  border-bottom: solid 1px white;
  margin-bottom: 2px;
}

.add {
  cursor: pointer;
}

.modal {
  background-color: rgba(121, 176, 212, 0.8);
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 40%;
  top: 30%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  border-radius: 0.3rem;
  margin: 0.1rem;
  height: 2.5rem;
  min-width: 250px;
  padding-left: 5px;
  font-size: large;
}

.input button {
  border-radius: 0.3rem;
  margin: 0.1rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  padding-top: 2px;
  cursor: pointer;
  background-color: rgb(138, 179, 138);
  color: antiquewhite;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(255, 255, 255);
  background-color: crimson;
  border-radius: 5px;
  margin: 15px;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  padding: 0;
  padding-top: .2rem;
}

@media(min-width:500px) {
  .modal {
    width: 90vw;
    left: 5%;
  }
}

@media(min-width:750px) {
  .modal {
    width: 76vw;
    left: 12%;
  }

  .input input {
    min-width: 400px;

  }
}

@media(min-width:1000px) {
  .modal {
    width: 56vw;
    left: 22%;
  }
}